72-60-139-225.sslip.io {
  encode zstd gzip
  handle /auth/* {
    reverse_proxy custo3d-api:8080
  }

  handle /api/* {
    reverse_proxy custo3d-api:8080
  }

  handle {
    root * /srv
    file_server
  }
}
